.Form{
    width: 65vw;
    margin-top: 35vh;
    margin-left: 20vw;
}

.Button{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 13vw;
}

.text-button{
    text-decoration: none;
    color: black;
}