.NavBar{
    background-color: #DFD8CA;
}

.Link{
    text-decoration: none;
    color:rgb(33, 33, 33);
    font-size: 25px;
    font-weight: bold;
}

.Link:hover{
    color:rgb(84, 84, 84)
}

.NavbarBrand{
    background-color: #B91646;
    
}

.Logo{
    padding:3vw 3vh;
    color:white;
    font-weight:lighter;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 6px;
}

.Logo:hover{
    color:white;
}

.carousel-caption{
    font-size: larger;
    font-weight: 400;
    color:white;
}

.navbar-toggler{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.NavItem{
    margin-left: 2vw;
}