.NavBar{
    background-color: #DFD8CA;
}

.navbar{
    position:fixed !important;
    top: 0;
    width: 100%;
    z-index: 3;
}

.Link{
    text-decoration: none;
    color:rgb(33, 33, 33);
    font-size: 25px;
    font-weight: bold;
}

.nav-item{
    list-style-type: none;
}

.Link:hover{
    color:rgb(84, 84, 84)
}

.NavbarBrand{
    background-color: #B91646;
}

.Logo{
    padding:3vw 3vh;
    color:white;
    font-weight:lighter;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 6px;
}

.Logo:hover{
    color:white;
}

.navbar-toggler{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.NavItem{
    margin-left: 2vw;
}
