.Footer{
    justify-content: space-around;
    padding:10px;
    background-color: #0e6f6a;
    text-decoration: none;
    margin-top: 12vh;
}

.Text{
    margin-left: 5vw;
    text-align: center;
}

.NavLink{
    color:rgb(0, 0, 0);
    margin-left: 15vw;
}

.linkLogo{
    height: 40px;
    width: 40px;
    position: relative;
    margin-top: 2vh;
}